import subprocess
import time

def test_valence_diverges():
    proc = subprocess.Popen(['python', 'utopia_seed.py'], stdout=subprocess.PIPE, stderr=subprocess.PIPE)
    time.sleep(1.0)  # let it breathe for a few iterations
    proc.terminate()
    out, _ = proc.communicate()
    assert b"Valence" in out, "The cascade began"
